<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_me.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{712,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,1024}}</string>
                <key>sourceSize</key>
                <string>{712,1024}</string>
            </dict>
            <key>aboutme.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1},{280,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,90}}</string>
                <key>sourceSize</key>
                <string>{280,90}</string>
            </dict>
            <key>aboutme_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,283},{280,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,90}}</string>
                <key>sourceSize</key>
                <string>{280,90}</string>
            </dict>
            <key>aboutme_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,565},{280,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,90}}</string>
                <key>sourceSize</key>
                <string>{280,90}</string>
            </dict>
            <key>begin_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,847},{280,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,90}}</string>
                <key>sourceSize</key>
                <string>{280,90}</string>
            </dict>
            <key>begin_btn_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1129},{280,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,90}}</string>
                <key>sourceSize</key>
                <string>{280,90}</string>
            </dict>
            <key>begin_btn_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1411},{280,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,90}}</string>
                <key>sourceSize</key>
                <string>{280,90}</string>
            </dict>
            <key>btns.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1469,549},{280,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,90}}</string>
                <key>sourceSize</key>
                <string>{280,90}</string>
            </dict>
            <key>btnsww.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1701},{280,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,90}}</string>
                <key>sourceSize</key>
                <string>{280,90}</string>
            </dict>
            <key>candy_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,1785},{64,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{64,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>candy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,942},{64,68}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{64,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>candy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,1669},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{66,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>candy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1895},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{76,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>candy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1701},{82,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{82,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>candy_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,831},{82,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{82,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{715,1},{712,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,1024}}</string>
                <key>sourceSize</key>
                <string>{712,1024}</string>
            </dict>
            <key>game_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1027},{640,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,540}}</string>
                <key>sourceSize</key>
                <string>{640,540}</string>
            </dict>
            <key>game_pan.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1027},{712,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,1024}}</string>
                <key>sourceSize</key>
                <string>{712,1024}</string>
            </dict>
            <key>grid_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1793},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>grid_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1895},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>grid_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1793},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>grid_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1895},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>grid_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1793},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>msg_amazing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1741},{546,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{546,138}}</string>
                <key>sourceSize</key>
                <string>{550,138}</string>
            </dict>
            <key>msg_excellent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1881},{546,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{546,138}}</string>
                <key>sourceSize</key>
                <string>{550,138}</string>
            </dict>
            <key>msg_good.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1},{546,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{546,138}}</string>
                <key>sourceSize</key>
                <string>{550,138}</string>
            </dict>
            <key>msg_great.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1741},{546,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{546,138}}</string>
                <key>sourceSize</key>
                <string>{550,138}</string>
            </dict>
            <key>msg_unbelievevable.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1881},{546,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{546,138}}</string>
                <key>sourceSize</key>
                <string>{550,138}</string>
            </dict>
            <key>plyar_hp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1669},{420,30}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{420,30}}</string>
                <key>sourceSize</key>
                <string>{440,38}</string>
            </dict>
            <key>plyar_hp_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,549},{424,38}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{424,38}}</string>
                <key>sourceSize</key>
                <string>{440,38}</string>
            </dict>
            <key>plyar_hp_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1701},{54,38}}</string>
                <key>offset</key>
                <string>{-193,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{440,38}</string>
            </dict>
            <key>progressTimer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,915},{98,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,25}}</string>
                <key>sourceSize</key>
                <string>{100,25}</string>
            </dict>
            <key>progressTimer_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1997},{78,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,13}}</string>
                <key>sourceSize</key>
                <string>{80,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_s.png</string>
            <key>size</key>
            <string>{1660,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a325fb44590345d040f5848f9d6c881c:1613ff5e3495a5809404423525461869:61f24c76e2fe3d12a79b370102391d4f$</string>
            <key>textureFileName</key>
            <string>game_s.png</string>
        </dict>
    </dict>
</plist>
