<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>back_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>music_n_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1},{41,41}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{41,41}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>music_n_n_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,44},{41,41}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{41,41}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>music_n_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,171},{111,53}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{111,53}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>music_n_s_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1},{111,53}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{111,53}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>sound_n_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,205},{45,45}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{45,45}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>sound_n_n_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,205},{45,45}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{45,45}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>sound_n_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1},{113,53}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{113,53}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>sound_n_s_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,116},{113,53}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{113,53}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>system_s.png</string>
            <key>size</key>
            <string>{255,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a27e5d87ddf503ce64450e019e240177:7394ecb79a1af9628cac111653f0b6e5:9841b2082f062cc893c9508e4c7955fd$</string>
            <key>textureFileName</key>
            <string>system_s.png</string>
        </dict>
    </dict>
</plist>
